.RegisterPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--login-background);
    flex-grow: 1;
}

.RegisterPage #name-area {
    display: flex;
    flex-direction: row;
}

